mixin about()
	section.b-about&attributes(attributes)
		.container
			.row
				.col-lg-6
					+about-slider()
				.col-lg-6
					._content
						h1 Сеть химчисток-прачечных «Новый стандарт»
						p включает в себя производство, приемные пункты,  химчистки-прачечные быстрого обслуживания, линию по чистке ковров и промышленную прачечную.
						p включает в себя производство, приемные пункты,  химчистки-прачечные быстрого обслуживания, линию по чистке ковров и промышленную прачечную.