mixin home-catalog()
	section.b-home-catalog&attributes(attributes)
		.container
			.row
				.col-12
					h2._title Все категории
					._list
						+category-item()
						+category-item()
						+category-item()
						+category-item()
						+category-item()
						+category-item()
						+category-item()
						+category-item()
						+category-item()
						+category-item()
						+category-item()
						+category-item()