mixin product()
	.b-product&attributes(attributes)
		p Сумки, ремни и прочие аксессуары из кожи – это важный элемент стиля или интерьера. Если вещь была куплена удачно, расставаться с ней по причине внешних дефектов хочется меньше всего. И не нужно: оправить вещь на восстановление к опытному мастеру – проще, чем купить новую! Специалисты «Дианы» могут вернуть первозданный вид практически любому кожаному аксессуару.
		._list
			+product-item()
			+product-item()
			+product-item()
			+product-item()
		p Сумки, ремни и прочие аксессуары из кожи – это важный элемент стиля или интерьера. Если вещь была куплена удачно, расставаться с ней по причине внешних дефектов хочется меньше всего. И не нужно: оправить вещь на восстановление к опытному мастеру – проще, чем купить новую! Специалисты «Дианы» могут вернуть первозданный вид практически любому кожаному аксессуару.