mixin action-preview()
	.b-action-preview&attributes(attributes)
		img._img(src="assets/images/actions/1.png" alt="")
		a._link(href="#")
			h3._title Акция — «Окна Шторы»
			p._text При заказе мойки окон, получите скидку на чистку штор.
			svg._icon: use(xlink:href="assets/images/spriteSvg.svg#arrow-right")