mixin logo($color)
	a.b-logo(href="/")&attributes(attributes)
		if $color == 'white'
			img._img(src="assets/images/logo-white.png" alt="")
		else
			img._img(src="assets/images/logo.png" alt="")
		._col
			._name новый стандарт
			._desc Сеть химчисток-прачечных