mixin social()
	.b-social&attributes(attributes)
		a._link(href="#")
			svg._icon: use(xlink:href="assets/images/spriteSvg.svg#vk")
		a._link(href="#")
			svg._icon: use(xlink:href="assets/images/spriteSvg.svg#ok")