mixin home-slider()
	.b-home-slider&attributes(attributes)
		._slider
			._item(style="background-image: url(assets/images/home-slider.jpg)")
				.container
					.row
						.col-12
							._content
								h1._title Чистые шторы — Уют вашего дома
								p._text Химчистку на дому можно заказать в комплексе с другими клининговыми услугами, например с химчисткой ковров и мягкой мебели.
								a._more(href="#") Подробнее
			._item(style="background-image: url(assets/images/home-slider.jpg)")