mixin categories()
	.b-categories&attributes(attributes)
		ul._list
			li._item Одежда
				svg._arrow: use(xlink:href="assets/images/spriteSvg.svg#arrow-down")
				ul._sublist
					li._subitem
						a._link(href="#") О компании
					li._subitem
						a._link(href="#") Акции
					li._subitem
						a._link(href="#") Пункты обслуживания
			li._item Аксессуары
				svg._arrow: use(xlink:href="assets/images/spriteSvg.svg#arrow-down")
				ul._sublist
					li._subitem
						a._link(href="#") О компании
					li._subitem
						a._link(href="#") Акции
					li._subitem
						a._link(href="#") Пункты обслуживания
			li._item Обувь
				svg._arrow: use(xlink:href="assets/images/spriteSvg.svg#arrow-down")
				ul._sublist
					li._subitem
						a._link(href="#") О компании
					li._subitem
						a._link(href="#") Акции
					li._subitem
						a._link(href="#") Пункты обслуживания
			li._item Интерьер
				svg._arrow: use(xlink:href="assets/images/spriteSvg.svg#arrow-down")
				ul._sublist
					li._subitem
						a._link(href="#") О компании
					li._subitem
						a._link(href="#") Акции
					li._subitem
						a._link(href="#") Пункты обслуживания