mixin actions-list()
	.b-actions-list&attributes(attributes)
		+action-preview()
		+action-preview()
		+action-preview()
		+action-preview()
		+action-preview()
		+action-preview()
		+action-preview()
		+action-preview()
		+action-preview()
		+action-preview()