
include ../../blocks/header/header
include ../../blocks/email/email
include ../../blocks/phone/phone
include ../../blocks/social/social
include ../../blocks/callback/callback
include ../../blocks/search/search
include ../../blocks/logo/logo
include ../../blocks/address/address
include ../../blocks/actions-link/actions-link
include ../../blocks/categories/categories
include ../../blocks/nav/nav
include ../../blocks/home-slider/home-slider
include ../../blocks/last-actions/last-actions
include ../../blocks/home-catalog/home-catalog
include ../../blocks/about-slider/about-slider
include ../../blocks/about/about
include ../../blocks/contacts/contacts
include ../../blocks/created/created
include ../../blocks/footer/footer
include ../../blocks/counter/counter
include ../../blocks/action-preview/action-preview
include ../../blocks/category-item/category-item
include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/pagination/pagination
include ../../blocks/actions-list/actions-list
include ../../blocks/catalog/catalog
include ../../blocks/category/category
include ../../blocks/subcategory/subcategory
include ../../blocks/product-item/product-item
include ../../blocks/product/product
include ../../blocks/search-result/search-result
include ../../blocks/popup/popup