mixin header()
	header.b-header&attributes(attributes)
		._top
			.container
				.row.align-items-center
					.col-xl-6.col-xxl-5
						+nav()(class="header__nav")
					.col-md-5.col-xl-3.col-xxl-4
						._contacts
							+phone()
							+email()
					.col-md-4.col-xl-2
						+callback()(class="header__callback")
					.col-md-3.col-xl-1
						+social()(class="header__social")
		._middle
			.container
				.row.align-items-center
					.col-xl-5
						+logo()(class="header__logo")
					.col-xl-4
						+search()(class="header__search")
					.col-xl-3
						._row.justify-content-center.justify-content-xl-end
							+address()(class="header__address")
							+actions-link()(class="header__actions-link")
		._bottom
			.container
				.row.align-items-center
					.col-12
						+categories()
		