mixin address()
	.b-address&attributes(attributes)
		svg._icon: use(xlink:href="assets/images/spriteSvg.svg#address")
		a._link(href="#") Пункты
		._popup
			a._popup-link(href="#") О компании
			a._popup-link(href="#") Акции
			a._popup-link(href="#") Пункты обслуживания
			a._popup-link(href="#") Контакты