extends layouts/default
block title
    title Новый стандарт
block link
block body
    .b-page
        +header()
        main.b-main
            .container
                .row
                    .col-12
                        +breadcrumbs(['Главная', 'Акции', 'Химчистка мягкой мебели'])
                        h1._title Химчистка мягкой мебели
                        ._content.actions-detail__content
                            img(src="assets/images/action.jpg" alt="")
                            p Независимо от того жилое помещение или рабочее, необходимо регулярно проводить качественную химическую очистку. Это необходимо делать для удаления различных дефектов на коврах или мебели, а также с целью профилактики от разных паразитов.
                            p Существует много фирм, которыми производится выездная химчистка в Рязани. Но не всегда выполняемые ими работы представляют собой качественный результат.
        +footer()
block script