extends layouts/default
block title
    title Новый стандарт
block link
block body
    .b-page
        +header()
        main.b-main
            .container
                .row
                    .col-12
                        +breadcrumbs(['Главная', 'Каталог услуг'])
                        h1._title Каталог услуг
                        +catalog()
        +footer()
block script