extends layouts/default
block title
    title Новый стандарт
block link
block body
    .b-page
        +header()
        main.b-main
            .container
                .row
                    .col-12
                        +breadcrumbs(['Главная', 'О компании'])
                        h1._title О компании
                        ._content
                            img(src="assets/images/front.jpg" alt="")
                            h2 Сеть химчисток-прачечных «Новый стандарт»
                            p включает в себя производство, приемные пункты,  химчистки-прачечные быстрого обслуживания, линию по чистке ковров и промышленную прачечную.
                            p включает в себя производство, приемные пункты,  химчистки-прачечные быстрого обслуживания, линию по чистке ковров и промышленную прачечную.
                            p включает в себя производство, приемные пункты,  химчистки-прачечные быстрого обслуживания, линию по чистке ковров и промышленную прачечную.
                            p включает в себя производство, приемные пункты,  химчистки-прачечные быстрого обслуживания, линию по чистке ковров и промышленную прачечную.
                            p включает в себя производство, приемные пункты,  химчистки-прачечные быстрого обслуживания, линию по чистке ковров и промышленную прачечную. включает в себя производство, приемные пункты,  химчистки-прачечные быстрого обслуживания, линию по чистке ковров и промышленную прачечную. включает в себя производство, приемные пункты,  химчистки-прачечные быстрого обслуживания, линию по чистке ковров и промышленную прачечную.
                            h3 Мы активно развиваемся в нескольких направлениях:
                            ul
                                li Предоставление услуг по стирке и химической чистке населению и организациям.
                                li Химчистка ковров и ковровых покрытий.
                                li Продажа инвентаря для уборки помещений и территории.
                                li Продажа химии и расходных материалов для уборки.
                                li Продажа диспенсеров и расходных материалов (бумага, полотенца, салфетки, жидкое мыло).
                                li Изготовление грязезащитных покрытий и их обслуживание и чистка.
                            h3 Мы активно развиваемся в нескольких направлениях:
                            ol
                                li Предоставление услуг по стирке и химической чистке населению и организациям.
                                li Химчистка ковров и ковровых покрытий.
                                li Продажа инвентаря для уборки помещений и территории.
                                li Продажа химии и расходных материалов для уборки.
                                li Продажа диспенсеров и расходных материалов (бумага, полотенца, салфетки, жидкое мыло).
                                li Изготовление грязезащитных покрытий и их обслуживание и чистка.
                            a(href="#") Ссылка ведущая куда-то
                            table
                                tr
                                    td Ячейка 1
                                    td Ячейка 2
                                    td Ячейка 3
                                tr
                                    td Ячейка 1
                                    td Ячейка 2
                                    td Ячейка 3
                                tr
                                    td Ячейка 1
                                    td Ячейка 2
                                    td Ячейка 3
                            img(src="assets/images/front.jpg" alt="")
                            img(src="assets/images/front.jpg" alt="")
        +footer()
block script